.service-card {
    background-position: center;
    background-size: cover;
    border: 1px solid #ebebeb;
    color: #fff;
    cursor: pointer;
    margin: auto;
    padding: 30px 16px;
    .itens {
        padding: 5px;
        >.title {
            font-size: 1.5em;
        }
        >.separator {
            border: solid 2px $azul-escuro;
            margin: 20px 0;
            width: 50%;
        }
        >.btn {
            background-color: $azul-escuro;
            border: solid 2px $azul-escuro;
            color: #fff;
            margin: 18px 0 0 0;
            transition: all .5s ease;
            &:hover {
                background-color: transparent;
                border: solid 2px $azul-escuro;
                color: $azul-escuro;
            }
        }
    }
}

.construction {
    background-image: url('../img/construcao-casa.jpg');
}

@media screen and (min-width: 768px) {
    .service-card {
        .itens {
            >.btn {
                margin: 18px 0 0 0;
                transition: all .5s ease;
                width: 25%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .service-card {
        .itens {
            >.btn {
                margin: 18px 0 0 0;
                transition: all .5s ease;
                width: 30%;
            }
        }
    }
}